.special_offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.ul_offers {
  background-color: transparent;
  list-style: none;
  padding: 0%;
}

.offer {
  display: flex;
  border: 1px solid black;
  background-color: rgb(210, 209, 209);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 0px 0px 0px 25px;
  justify-content: space-between;
  width: auto;
  gap: 40px;
}

.offer_content {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.offer_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offer_description {
  font-weight: 600;
  font-size: 25px;
  margin: 0%;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.offer_date {
  font-weight: 600;
  font-size: 25px;
  margin: 0%;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.offer_controls {
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.edit_buttons {
  display: flex;
}

.button_edit {
  background-color: rgb(255, 106, 43);
  color: white;
  transition: 0.5s;
  border: 1px solid black;
  padding: 0px 10px;
  height: 100%;
}

.button_edit:hover {
  background-color: rgb(253, 116, 57);
  color: black;
}

.button_text {
  margin: 0%;
  font-size: 20px;
  font-weight: 600;
}

.button_delete {
  background-color: rgb(255, 106, 43);
  color: white;
  transition: 0.5s;
  border: 1px solid black;
  font-size: 15px;
  padding: 0px 10px;
  height: 100%;
}

.button_delete:hover {
  background-color: rgb(253, 116, 57);
  color: black;
}

.empty_offers {
  border: 1px solid black;
  background-color: rgb(200, 164, 125);
  border-radius: 8px;
  list-style: none;
  margin-top: 250px;
  padding: 25px;
}

.empty_description {
  font-family: "Pacifico";
  font-weight: 900;
  font-size: 35px;
  letter-spacing: 2px;
}

.button_create {
  margin-bottom: 20px;
  background-color: rgb(255, 106, 43);
  color: white;
  transition: 0.5s;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 20px;
}

.create_text {
  margin: 0%;
  font-size: 40px;
  font-weight: 600;
}

.button_create:hover {
  background-color: rgb(253, 116, 57);
  color: black;
}

@media screen and (max-width: 500px) {
  .ul_offers {
    border-radius: 8px;
    margin: 30px;
    width: 90%;
  }

  .offer_content {
    padding-left: 10px;
  }

  .offer_description {
    font-size: 13px;
    margin: 10px;
  }

  .button_edit,
  .button_delete {
    font-size: 12px;
    padding: 5px 10px;
  }

  .empty_offers {
    padding: 10px;
    margin-top: 150px;
  }

  .empty_description {
    font-size: 15px;
  }

  .button_create {
    font-size: 15px;
    padding: 8px 16px;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .ul_offers {
    border-radius: 8px;
    margin: 40px;
    width: 80%;
  }

  .offer_content {
    padding-left: 10px;
  }

  .offer_description {
    font-size: 15px;
    margin: 10px;
  }

  .button_edit,
  .button_delete {
    font-size: 13px;
    padding: 5px 12px;
  }

  .empty_offers {
    padding: 10px;
    margin-top: 200px;
  }

  .empty_description {
    font-size: 15px;
  }

  .button_create {
    font-size: 16px;
    padding: 9px 18px;
  }
}
