.reservation {
  margin: 15px 0px 35px 0px;
  display: flex;
  flex-direction: column;
}

.title_reserv {
  margin-bottom: 30px;
  margin-left: 85px;
  font-size: 45px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.ul_reserv {
  background-color: transparent;
  list-style: none;
  margin-left: 115px;
  padding: 0%;
}

.li_reserv {
  display: flex;
  border: 1px solid black;
  background-color: rgb(210, 209, 209);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 10px 0px 10px 25px;
  justify-content: space-between;
  gap: 40px;
}

.reserv_description {
  font-weight: 900;
  font-size: 25px;
  padding: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.button_remove {
  background-color: rgb(255, 106, 43);
  color: white;
  transition: 0.5s;
  border: 1px solid black;
  padding: 10px;
}

.button_remove:hover {
  background-color: rgb(253, 116, 57);
  color: black;
}

.remove_text {
  margin: 0%;
  font-size: 20px;
  font-weight: 600;
}

.reserv_empty {
  font-weight: 900;
  font-size: 30px;
  margin: 25px;
  margin-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {
  .reservation {
    margin: 0px;
  }

  .title_reserv {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 20px;
  }

  .ul_reserv {
    margin-left: 15px;
  }

  .li_reserv {
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
  }

  .reserv_description {
    font-size: 12px;
  }

  .delivery_box {
    transform: scale(1);
  }

  .reserv_empty {
    font-size: 12px;
    margin: 10px;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .reservation {
    margin: 15px 0px 35px 0px;
  }

  .title_reserv {
    margin-bottom: 30px;
    font-size: 27px;
  }

  .li_reserv {
    padding: 25px;
  }

  .reserv_description {
    font-size: 20px;
  }

  .reserv_empty {
    font-size: 20px;
    margin: 20px;
  }
}
