.main_div {
  /*background-image: url(./images/back_main.png);*/
  background-size: cover;
  background-repeat: no-repeat;
  height: 1084px;
  display: flex;
}

.main_p {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  gap: 10px;
  color: rgb(252, 130, 37);
  text-align: center;
  margin-left: 125px;
  font-size: 55px;
}

.h1 {
  line-height: 90px;
}

.name_restaurant {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  font-size: 57px;
}

.hr_name {
  width: 150px;
  height: 2px;
  border: 2px solid white;
  background-color: rgb(252, 130, 37);
}

.button_reserv {
  background-color: rgb(255, 106, 43);
  color: white;
  border-radius: 10px;
  padding: 20px 30px;
  font-weight: bold;
  font-size: 23px;
  width: max-content;
  transition: 0.5s;
}

.button_menu:hover {
  background-color: rgb(253, 116, 57);
  color: black;
}
