@font-face {
  font-family: "Tinos-Regular";
  src: url(../public/fonts/Tinos-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Tinos-Italic";
  src: url(../public/fonts/Tinos-Italic.ttf);
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-regular";
  src: url(../public/fonts/Roboto-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Roboto-italic";
  src: url(../public/fonts/Roboto-Italic.ttf);
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-bold";
  src: url(../public/fonts/Roboto-Bold.ttf);
  font-style: bold;
  font-display: swap;
}

body {
  width: 100%;
  margin: 0%;
  padding: 0%;
  line-height: 25px;
  font-family: "Roboto-regular";
  background-color: whitesmoke;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  body {
    max-width: 100%;
    line-height: 20px;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  body {
    max-width: 100%;
    line-height: 23px;
  }
}
/*docker-compose up --build