.delivery {
  margin-top: 15px;
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {
  .text {
    margin-top: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .text {
    margin-top: 15px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
