.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 0px 30px;
  height: max-content;
}

.logo {
  width: 135px;
  height: 105px;
}

.ul_header {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 45px;
}

.nav_link {
  text-decoration: none;
  font-family: "Pacifico";
  color: rgb(252, 130, 37);
  transition: 0.2s;
}

.nav_link_active {
  color: #ffffff;
}

.nav_p {
  font-size: 28px;
}

.button_logout {
  font-size: 30px;
  font-family: "Pacifico";
  color: rgb(252, 130, 37);
  background-color: #111;
  border: none;
  padding: 0%;
  transition: 0.2s;
}

.nav_link:hover,
.button_logout:hover {
  color: white;
}

@media screen and (max-width: 500px) {
  .header {
    max-width: 100%;
    padding: 0px;
    gap: 0px;
  }

  .logo {
    width: 55px;
    height: 40px;
  }

  .ul_header {
    gap: 18px;
    padding: 0%;
    margin-right: 15px;
  }

  .nav_p {
    font-size: 13px;
    text-align: center;
    width: min-content;
  }

  .button_logout {
    font-size: 13px;
  }

  .burger {
    display: none;
    background: none;
    border: none;
    color: rgb(252, 130, 37);
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
  }
  
  .nav {
    transition: transform 0.3s ease-in-out;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .header {
    max-width: 100%;
    padding: 5px 15px;
  }

  .logo {
    width: 75px;
    height: 55px;
  }

  .burger {
    display: block;
  }

  .nav {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #111;
    width: 100%;
    transform: translateY(-200%);
    z-index: 1000;
  }

  .open {
    transform: translateY(0);
  }

  .ul_header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

  .nav_p {
    font-size: 18px;
  }

  .button_logout {
    font-size: 18px;
  }
}
