.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0px 70px;
  height: max-content;
}

.logo {
  width: 135px;
  height: 105px;
  border-radius: 50%;
  transition: 0.5s;
}

.logo:hover{
  box-shadow: 5px 10px 40px 20px rgba(255, 115, 0, 0.179);
}

.ul_header {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 55px;
}

.nav_link{
  text-decoration: none;
  color: rgb(252, 130, 37);
  transition: 0.2s;
}

.nav_p {
  font-size: 30px;
}

.button_profile {
  font-size: 30px;
  font-family: "Tinos-Regular";
  color: rgb(252, 130, 37);
  background-color: black;
  border: none;
  padding: 0%;
  transition: 0.2s;
}

.nav_link:hover,
.button_profile:hover {
  color: white;
}

@media screen and (max-width: 500px) {
  .header {
    max-width: 100%;
    padding: 0px 5px;
  }

  .logo {
    width: 70px;
    height: 50px;
  }

  .ul_header {
    gap: 10px;
  }

  .nav_p {
    font-size: 13px;
  }

  .button_profile {
    font-size: 13px;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .header {
    max-width: 100%;
    padding: 5px 15px;
  }

  .logo {
    width: 95px;
    height: 70px;
  }

  .ul_header {
    gap: 15px;
  }

  .nav_p {
    font-size: 16px;
  }

  .button_profile {
    font-size: 16px;
  }
}
