.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0px 70px;
  height: max-content;
}

.ul_header {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 55px;
}

.nav_p {
  font-size: 30px;
}
