.feedback {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding-bottom: 35px;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider_line {
  width: 300%;
  display: flex;
  transition: 1s;
}

.sliders {
  width: 100%;
}

.feedback_all {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 0px 60px 0px;
}

.feedback_h_all {
  font-size: 30px;
  font-family: "Tinos-Italic";
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 50px;
}

.img_profile_all {
  width: 110px;
  height: 109px;
  border-radius: 100%;
  box-shadow: 10px 10px 40px 20px #0000001a;
}

.feedback_p_all {
  font-size: 26px;
  color: rgb(82, 82, 82);
  margin-bottom: 0%;
}

.feedback_name_all {
  font-size: 26px;
  color: rgb(82, 82, 82);
}

.slider_button {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.slider_left {
  padding: 8px 20px 7px 17px;
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 106, 43);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  line-height: 1;
}

.slider_right {
  padding: 8px 17px 7px 20px;
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 106, 43);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  line-height: 1;
}

.slider_left:hover,
.slider_right:hover {
  cursor: pointer;
  background-color: rgb(253, 116, 57);
  color: black;
}

@media screen and (max-width: 500px) {
  .slider {
    max-width: 100%;
  }

  .slider_line {
    max-width: 300%;
  }

  .sliders {
    max-width: 100%;
  }

  .feedback_all {
    padding: 20px 5px 40px 5px;
  }

  .feedback_h_all {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 25px;
  }

  .img_profile_all {
    width: 80px;
    height: 79px;
  }

  .feedback_p_all {
    font-size: 17px;
  }

  .feedback_name_all {
    font-size: 17px;
  }

  .slider_left {
    padding: 6px 10px 5px 8px;
    font-size: 28px;
    border-radius: 7px;
  }

  .slider_right {
    padding: 6px 8px 5px 10px;
    font-size: 28px;
    border-radius: 7px;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .slider {
    max-width: 100%;
  }

  .slider_line {
    max-width: 300%;
  }

  .sliders {
    max-width: 100%;
  }

  .feedback_all {
    padding: 20px 10px 40px 10px;
  }

  .feedback_h_all {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .img_profile_all {
    width: 90px;
    height: 89px;
  }

  .feedback_p_all {
    font-size: 20px;
  }

  .feedback_name_all {
    font-size: 20px;
  }

  .slider_left {
    padding: 9px 20px 10px 15px;
    font-size: 30px;
    border-radius: 7px;
  }

  .slider_right {
    padding: 9px 15px 10px 20px;
    font-size: 30px;
    border-radius: 7px;
  }
}
