.back {
  background-image: url("/images/shopping_cart.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
