.delivery_menu {
  background-image: url("/images/back_menu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  gap: 50px;
}

.delivery_h {
  margin-top: 100px;
  color: rgb(252, 130, 37);
  letter-spacing: 3px;
  font-size: 65px;
}

.foods {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  vertical-align: top;
  padding: 0px 50px 100px 50px;
  gap: 100px;
}

.food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 209, 209);
  box-shadow: 10px 10px 40px 20px #7776761a;
  border-radius: 10px;
  gap: 15px;
  padding: 15px 35px;
}

.img_food {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px 20px #0000001a;
  border: 1px solid black;
}

.food_h {
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 1px;
  margin: 0%;
  color: rgb(252, 130, 37);
  text-align: center;
  font-weight: 500;
  font-family: serif;
}

.price_menu {
  font-weight: 700;
  font-size: 27px;
  letter-spacing: 1px;
  margin: 0%;
}

.lowprice_div {
  display: flex;
  gap: 15px;
  width: max-content;
  padding-right: 55px;
}

.lowprice_menu {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0%;
  color: red;
}

.button_menu_delivery {
  background-color: rgb(255, 106, 43);
  border-radius: 8px;
  color: white;
  padding: 20px 25px;
  font-weight: bold;
  font-size: 18px;
  width: max-content;
  transition: 0.5s;
}

.button_menu_delivery:hover {
  background-color: rgb(253, 116, 57);
  color: black;
}

@media screen and (max-width: 500px) {
  .delivery_menu {
    max-width: 100%;
    margin-top: 20px;
    gap: 15px;
  }

  .delivery_h {
    margin-top: 40px;
    letter-spacing: 2px;
    font-size: 40px;
  }

  .foods {
    margin-top: 15px;
    padding: 0px 15px 30px 15px;
    gap: 70px;
  }

  .food {
    border-radius: 7px;
    gap: 8px;
    padding: 10px 15px;
  }

  .img_food {
    height: 150px;
    width: 150px;
    border-radius: 7px;
  }

  .food_h {
    font-size: 27px;
    line-height: 29px;
  }

  .price_menu {
    font-size: 22px;
  }

  .lowprice_div {
    gap: 5px;
    padding-right: 55px;
  }

  .lowprice_menu {
    font-weight: 700;
    font-size: 29px;
  }

  .button_menu_delivery {
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 15px;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .delivery_menu {
    max-width: 100%;
    margin-top: 40px;
    gap: 10px;
  }

  .delivery_h {
    margin-top: 45px;
    letter-spacing: 3px;
    font-size: 50px;
  }

  .foods {
    margin-top: 25px;
    padding: 0px 15px 45px 15px;
    gap: 70px;
  }

  .food {
    border-radius: 8px;
    gap: 12px;
    padding: 20px 25px;
  }

  .img_food {
    height: 250px;
    width: 250px;
    border-radius: 8px;
  }

  .food_h {
    font-size: 35px;
    line-height: 37px;
  }

  .price_menu {
    font-size: 27px;
  }

  .lowprice_div {
    gap: 8px;
    padding-right: 75px;
  }

  .lowprice_menu {
    font-weight: 700;
    font-size: 35px;
  }

  .button_menu_delivery {
    border-radius: 8px;
    padding: 15px 25px;
    font-size: 20px;
  }
}
