.delivery_menu {
  background-image: url("/images/back_menu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100%;
}

.delivery_h {
  margin-top: 100px;
  color: rgb(252, 130, 37);
  font-family: "Pacifico";
  letter-spacing: 2px;
  font-size: 65px;
}

.foods {
  margin-top: 30px;
  display: flex;
  width: 90%;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 50px 100px 50px;
  gap: 100px;
}

.category {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-items: left;
}

.category_h {
  color: rgb(252, 130, 37);
  font-family: "Pacifico";
  letter-spacing: 2px;
  font-size: 50px;
}

.hr_name {
  width: 800px;
  height: 5px;
  border: none;
  margin: 0%;
  background-color: rgb(252, 130, 37);
}

.foods_category {
  margin-top: 30px;
  display: flex;
  gap: 100px;
}

.food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 209, 209);
  box-shadow: 10px 10px 40px 20px #7776761a;
  border-radius: 10px;
  gap: 15px;
  padding: 15px 35px;
  width: 250px;
}

.img_food {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px 20px #0000001a;
  border: 1px solid black;
}

.food_h {
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 1px;
  font-family: "Pacifico";
  margin: 0%;
  color: rgb(252, 130, 37);
  text-align: center;
  font-weight: 500;
}

.price_menu {
  font-weight: 700;
  font-family: "Pacifico";
  font-size: 27px;
  letter-spacing: 1px;
  margin: 0%;
}

.old_price {
  text-decoration: line-through;
  vertical-align: super;
  font-size: 0.75em;
  color: rgb(0, 0, 0);
  margin-right: 4px;
}

.new_price {
  color: rgb(255, 0, 0);
  margin-right: 8px;
}

.button_menu_delivery {
  background-color: rgb(255, 106, 43);
  border-radius: 8px;
  color: white;
  margin-top: 10px;
  padding: 20px 25px;
  font-weight: bold;
  font-size: 18px;
  width: max-content;
  transition: 0.5s;
}

.button_menu_delivery:hover {
  background-color: rgb(253, 116, 57);
  color: black;
}

@media screen and (max-width: 500px) {
  .delivery_menu {
    max-width: 100%;
    gap: 12px;
  }

  .delivery_h {
    margin-top: 37px;
    letter-spacing: 2px;
    font-size: 37px;
  }

  .foods {
    margin-top: 15px;
    padding: 0px 15px 30px 15px;
    gap: 40px;
  }

  .category {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-items: left;
  }

  .category_h {
    color: rgb(252, 130, 37);
    font-family: "Pacifico";
    letter-spacing: 2px;
    font-size: 25px;
  }

  .hr_name {
    width: 250px;
    height: 5px;
    border: none;
    margin: 0%;
    background-color: rgb(252, 130, 37);
  }

  .foods_category {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .food {
    border-radius: 7px;
    width: 60%;
    gap: 8px;
    padding: 7px 12px;
  }

  .img_food {
    height: 150px;
    width: 150px;
    border-radius: 7px;
  }

  .food_h {
    font-size: 17px;
    line-height: 19px;
  }

  .price_menu {
    font-size: 20px;
  }

  .lowprice_div {
    gap: 5px;
    padding-right: 55px;
  }

  .lowprice_menu {
    font-weight: 700;
    font-size: 27px;
  }

  .button_menu_delivery {
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 12px;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .delivery_menu {
    max-width: 100%;
    gap: 15px;
  }

  .delivery_h {
    margin-top: 40px;
    letter-spacing: 2px;
    font-size: 40px;
  }

  .foods {
    margin-top: 15px;
    padding: 0px 15px 30px 15px;
    gap: 70px;
  }

  .category {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-items: left;
  }

  .category_h {
    color: rgb(252, 130, 37);
    font-family: "Pacifico";
    letter-spacing: 2px;
    font-size: 25px;
  }

  .hr_name {
    width: 250px;
    height: 5px;
    border: none;
    margin: 0%;
    background-color: rgb(252, 130, 37);
  }

  .foods_category {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .food {
    border-radius: 7px;
    gap: 8px;
    padding: 10px 15px;
  }

  .img_food {
    height: 150px;
    width: 150px;
    border-radius: 7px;
  }

  .food_h {
    font-size: 27px;
    line-height: 29px;
  }

  .price_menu {
    font-size: 22px;
  }

  .lowprice_div {
    gap: 5px;
    padding-right: 55px;
  }

  .lowprice_menu {
    font-weight: 700;
    font-size: 29px;
  }

  .button_menu_delivery {
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 15px;
  }
}
