.advantages {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  vertical-align: top;
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(188, 144, 96);
  box-shadow: 10px 10px 40px 20px #0000001a;
  margin-top: -170px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  padding: 30px 40px 10px 40px;
}

.advantages_img {
  height: 140px;
  width: 140px;
}

.advantage_main {
  font-size: 25px;
  color: rgb(188, 144, 96);
}

.advantage_p {
  color: rgb(82, 82, 82);
  font-size: 21px;
}

@media screen and (max-width: 500px) {
  .advantages {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 115px;
    flex-wrap: wrap;
  }

  .advantage {
    border: 1px solid rgb(188, 144, 96);
    box-shadow: 5px 5px 20px 10px #0000001a;
    margin-top: -100px;
    border-radius: 8px;
    padding: 5px 15px 0px 15px;
  }

  .advantage_main {
    font-size: 17px;
  }

  .advantage_p {
    font-size: 11px;
  }

  .advantages_img {
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .advantages {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 135px;
    flex-wrap: wrap;
  }

  .advantage {
    border: 1px solid rgb(188, 144, 96);
    box-shadow: 5px 5px 20px 10px #0000001a;
    margin-top: -100px;
    border-radius: 8px;
    padding: 15px 25px 5px 25px;
  }

  .advantage_main {
    font-size: 22px;
  }

  .advantage_p {
    font-size: 16px;
  }

  .advantages_img {
    height: 120px;
    width: 120px;
  }
}

@media screen and (min-width: 2500px) and (max-width: 3199px) {
  .advantages {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 185px;
    flex-wrap: wrap;
  }

  .advantage {
    border: 1px solid rgb(188, 144, 96);
    box-shadow: 5px 5px 20px 10px #0000001a;
    margin-top: -150px;
    border-radius: 8px;
    padding: 25px 35px 15px 35px;
  }

  .advantage_main {
    font-size: 50px;
  }

  .advantage_p {
    font-size: 36px;
    line-height: 56px;
  }

  .advantages_img {
    height: 180px;
    width: 180px;
  }
}

@media screen and (min-width: 3200px) {
  .advantages {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 285px;
    flex-wrap: wrap;
  }

  .advantage {
    border: 1px solid rgb(188, 144, 96);
    box-shadow: 5px 5px 20px 10px #0000001a;
    margin-top: -200px;
    border-radius: 8px;
    padding: 55px 65px 55px 65px;
  }

  .advantage_main {
    font-size: 80px;
  }

  .advantage_p {
    font-size: 60px;
    line-height: 80px;
  }

  .advantages_img {
    height: 320px;
    width: 320px;
  }
}
